body
{
  background-color: #AD3C00;
  font-weight: italic;
}

primeiro
{
  color: #7A3C0C;
  background-color: #BA7709;
  font-size: 8px;
}

segundo
{
  color: green;
  background-color: #C4660A;
  font-size: 12px
}

terceiro
{
  color: black;
  background-color: #BA1309;
  font-size: 15px;
}
