body
{
  margin:0;
  padding:0;
}
header
{
  min-height:40px;
  background-color: #D62509;
  border-bottom: 2px solid white;
}

#principal
{
  width: 80%;
  display: inline-block;
  margin-right: -4px;
}

aside
{
  width: 20%;
  display: inline-block;
  margin-right: -4px;
  min-height: 100%;
}

section
{
  min-height:800px;
  width:50%;
  background-color: #D64530;
}
.esquerda
{
  background-color: #BF5A34;
  float:left;
}
.direita
{
  background-color: #CC872D;
  float: right;
}
footer
{
  min-height:40px;
  background-color: #000;
}
