body
{
  margin:0;
  padding:0;
}
header
{
  min-height:40px;
  background-color: #D62509;
}
section
{
  min-height:800px;
  width:50%;
  background-color: #D64530;
}
.esquerda
{
  background-color: #BF5A34;
  float:left;
}
.direita
{
  background-color: #CC872D;
  float: right;
}
footer
{
  min-height:40px;
  background-color: #D62509;
}
