body {
  margin: 0;
  padding: 0;
}

header {
  min-height: 40px;
  background-color: #41A09E;
  border-bottom: 2px solid white;
}

#principal {
  width: 80%;
}

section {
  display: inline-block;
  min-height: 800px;
  width: 50%;
  background-color: #A7ECEB;
  margin-right: -4px;
}

.direita {
   background-color: #4278A0;
}

footer {
  min-height: 20px;
  background-color: #000;
}
