body {
  margin: 0;
  padding: 0;
}

header {
  min-height: 40px;
  background-color: #41A09E;
}

section {
  min-height: 800px;
  width: 50%;
  background-color: #A7ECEB;
}

footer::before, footer::after {
  clear: both;
}

.esquerda {
  float: left;
}

.direita {
  float: right;
   background-color: #4278A0;
}

footer {
  min-height: 20px;
  background-color: #000;
}
