body {
  margin: 0;
  padding: 0;
}

header {
  min-height: 40px;
  background-color: #41A09E;
}

section {
  min-height: 800px;
  width: 50%;
  background-color: #A7ECEB;
}

.esquerda {
  float: left;
}

.direita {
  float: right;
   background-color: #61ECE9;
}
